body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

body, #box {
	display: flex;
	justify-content: center;
	align-items: center;
}

#box {
	width: 400px;
	height: 400px;

	background-color :rgb(229,100,150);
	color: rgb(255,255,255);
	font-size: 40pt;
	border-radius: 50%;
}
