body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;

	background-image: linear-gradient(
		to bottom right,
		rgb(48,10,46), rgb(77, 13, 73)
	);

	font-size: 120pt;
	color: rgb(255,255,255)
}